@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

* {
   margin: 0;
   padding: 0;
   font-family: "poppins";
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(PARIS.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header .BTS {
   position: relative;
   color: #fff;
   font-size: 30px;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 800;
   letter-spacing: 1px;
   justify-content: flex-start;
}

header .navigation a {
   color: #000;
   text-decoration: none;
   font-weight: 500;
   letter-spacing: 1px;
   padding: 3px 15px;
   border-radius: 20px;
   transition: 0.4s;
   transition-property: background;
}

header .navigation a:not(:last-child) {
   margin-right: 30px;
}

header .navigation a:hover {
    background: #ffff;
}
section{
    width: 1000px;
    margin: 60px 100px;
}

section h2 {
       color: black;
       font-size: 55px;
       text-transform: uppercase;
       font-weight: 800;
       letter-spacing: 3px;
       line-height: 60px;
       margin-bottom: 30px;
    }
    
    section p {
        color: black;
         font-size: 16px;
         font-weight: 500;
         margin-bottom: 40px;
    }
    
    section .More Info {
        color: #fff;
        background: #238fd6;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
    
        letter-spacing: 2px;
        padding: 10px 20px;
        border-radius: 6px;
    }
    
    section .More Info:hover {
        background: #1696e7;
    }
    
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    
    footer a {
        position: relative;
        color: white;
        font-size: 30px;
    }
    
    footer a:not(:last-child) {
            margin-right: 60px;
    }
    
    footer a:hover {
        transform: scale(1.5);
    }

